<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= htmlWebpackPlugin.options.title %></title>
	<base target="_blank">
</head>
<body>
	<%= htmlWebpackPlugin.options.top %>
	<%= htmlWebpackPlugin.options.placeholder %>
</body>
</html>
